body{
    font-family: "Playfair Display", serif;
    /* background-color: darkgoldenrod; */
    background-color: white;
    padding: 0%;
    margin: 0%;
    display: flex;
   flex-direction: column;
    width: 100%;
    min-height: 100vh;

}

.logo {
    position: relative;
    margin-top: -40px;
    width: 250px;
    height: 250px;
}



.my-nav {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 200px;
  background-color: #6a6004; 
  color: white;
  display: flex;
  align-items: flex-start;
  flex-direction: row; 
  justify-content: space-between;
}


.styled-select {
    margin-right: 100px;
    margin-top: 100px;
    background-color: bisque;
    border-radius: 20px;
    width: 70px;

}

.main-image {
    align-self: center;
    width: 80%;
    height: 400px;
    display: block;
}

.products{
    width: 100%;
    background-color: #6a6004;
    /* background-color: white; */
    height: 700px;
    z-index: 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.product-card {
    background-color: white;
    width: 300px;
    height: 500px;
    border-radius: 25px;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.product-img {
    width: 300px;
    height: 300px;
    border-radius: 25px;

}

