body{
    font-family: "Playfair Display", serif;
    background-color: darkgoldenrod;
    padding: 0%;
    margin: 0%;
    display: flex;
    width: 100%;
    min-height: 100vh;

}

.logo {
    position: relative;
    margin-top: -40px;
    width: 250px;
    height: 250px;
}



.my-nav {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 200px;
  background-color: #6a6004; 
  color: white;
  display: flex;
  align-items: flex-start;
  flex-direction: row; 
  justify-content: space-between;
}


.styled-select {
    margin-top: 100px;
    background-color: bisque;
    border-radius: 20px;
    width: 70px;

}
/* #home-btn, #about-btn, #cart-btn {
  background-color: #d6d5ce; 
  color: rgb(15, 14, 14);
  border-radius: 10px;
  padding: 10px 20px;
  margin: 20px;
  cursor: pointer;
  font-size: 16px;
  height: 50px;
  width: 100px;
} */

