body{
  display: flex;
  flex-direction: column;
  font-family: "Playfair Display", serif;
  background-color: white;
  margin: 0;
  width: 100%;
  background-color: black;
  
}



.logo {
    position: relative;
    margin-top: -40px;
    width: 250px;
    height: 250px;
}

.main-text {
  align-self: center;
  margin-left: 300px;
  margin-top: 100px;
}


.my-nav {
  width: 100%;
  height: 200px;
  background-color: #6a6004; 
  color: white;
  display: flex;
  align-items: flex-start;
  flex-direction: row; 
  justify-content: space-between;
}


.styled-select {
    margin-right: 100px;
    margin-top: 100px;
    background-color: bisque;
    border-radius: 20px;
    width: 170px;

}

.main-image {
  display: block;
  width: 1300px;
  height: 400px;
  margin: 0 auto;
}

.products{
  width: 100%;
  background-color: #6a6004;
  display: flex;
  flex-wrap: nowrap;        
  overflow-x: auto;         
  overflow-y: hidden;
  gap: 20px;
  padding: 20px;
   }


.product-card {
  display: flex;
  flex-direction: column;
}

.product-card:hover {
     transform: translateY(-12px);
}

.product-btn {
    margin-top: auto;
    height: 50px;
    width: 200px;
    color: black;
    background-color: rgb(242, 212, 172);
    border-radius: 30px;
}

.product-btn:hover {
    background-color: rgb(134, 123, 56);

}

.product-img {
  width: 300px;
  height: 250px;
  border-radius: 20px;
}

#cart-btn {
    width: 50px;
}


.cart-card {
    position: relative;   
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff7ed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
    
}

.cart-card:hover {
    transform: translateY(-5px);
}

.cart-img {
    margin-top: 0px;
    width: 100px;
    height: 50px;
    margin-right: 30px;
}


.glassbtn {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 30px;
    color: black;
    z-index: 999;
    cursor: pointer;
}

.glassbtn:hover {
    transform: translateY(-8px);
}


#peopleimg {
    height: 400px;
    width: 400px;
}

.star {
  color: #625a5a;
  cursor: pointer;
}

.star.filled {
  color: gold;
}


 .wine-modal{
  position: fixed;
  height: 300px;
  width: 300px;
  background-color: #f9f6f3;
  border-radius: 25px;
  z-index: 10;
  
} 

.review-image {
  height: 50px;
  width: 50px;
}

.review-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-text {
  font-weight: bolder;
  position: absolute;
  color: bisque;

}