body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Playfair Display", serif;
    background-color: white;
    margin: 0;
    width: 100%;
    min-height: 100vh;
}



.logo {
    position: relative;
    margin-top: -40px;
    width: 250px;
    height: 250px;
}



.my-nav {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 200px;
  background-color: #6a6004; 
  color: white;
  display: flex;
  align-items: flex-start;
  flex-direction: row; 
  justify-content: space-between;
}


.styled-select {
    margin-right: 100px;
    margin-top: 100px;
    background-color: bisque;
    border-radius: 20px;
    width: 170px;

}

.main-image {
    align-self: center;
    width: 80%;
    height: 400px;
    display: block;
}

.products{
    width: 100%;
  background-color: #6a6004;
  min-height: 100vh;        
  display: flex;
  flex-wrap: wrap;        
  justify-content: center;
  gap: 20px;
  padding: 20px;
    /* width: 100%;
    background-color: #6a6004;
    height: 700px;
    z-index: 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow-x: auto;
    overflow-y: hidden;   
    */
}


.product-card {
    position: relative;
    background-color: white;
    width: 300px;
    height: 450px;
    border-radius: 25px;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

.product-card:hover {
     transform: translateY(-12px);
}

.product-btn {
    margin-top: auto;
    height: 50px;
    width: 200px;
    color: black;
    background-color: rgb(234, 180, 110);
    border-radius: 20px;
}

.product-btn:hover {
    background-color: rgb(134, 123, 56);

}

.product-img {
  width: 100%;
  height: 250px;
  object-fit: cover;     
  border-radius: 20px;

}

#cart-btn {
    width: 50px;
}


.cart-card {
    position: relative;   
    width: 100%;
    /* gap: 10px; */
    padding: 10px;
    border-radius: 10px;
    background-color: #fff7ed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
    border: 1px solid #f0d2a5;
}

.cart-card:hover {
    transform: translateY(-5px);
}

.cart-img {
    margin-top: 0px;
    width: 100px;
    height: 50px;
    margin-right: 30px;
    object-fit: cover;   
}




.glassbtn {
    position: absolute;
    top: 20px;
    left: 20px;
    /* right: 10px; */
    font-size: 30px;
    color: black;
    z-index: 999;
    cursor: pointer;
}

.glassbtn:hover {
    transform: translateY(-8px);
}


.wine-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.hidden {
  display: none;
}

#modal-wines {
    font-weight: bold;
}



.wine-modal-content {
  background: white;
  padding: 20px 25px;
  border-radius: 12px;
  width: 320px;
  position: relative;
  /* text-align: right; */
}

.about-modal-content {
 background: white;
  padding: 20px 25px;
  border-radius: 12px;
  width: 620px;
  position: relative;
  text-align: center;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 12px;
  border: none;
  background: none;
  font-size: 22px;
  cursor: pointer;
}

/* #about-modal {
  background-color: antiquewhite;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  z-index: 9999;

}  */


#peopleimg {
    height: 400px;
    width: 400px;
}

.star {
  color: #625a5a;
  cursor: pointer;
}

.star.filled {
  color: gold;
}
